<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="../../../style.css">
    <title>Busca PLACA</title>
</head>
<body>
    <header class="container-header">
        <nav class="header-app">
            <h1>
                BUSCA<br>
                <span>PLACA</span>
            </h1>
            <ul>
                <li><a href="#">SOBRE</a></li>
                <li><a href="#">CONTATO</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container-main">
            <div class="body-app">
                <div class="buscForm">
                    <form method="POST" action="/buscar" >
                        <lebel id="lbcampo">Placa:</lebel><input id='txtCampo' type='text' name='txtPlaca' placeholder="Digite a placa que procura"/><br/>
                        <input id="btnInserir" type='submit' value='Procurar'/>
                    </form>
                </div>
            </div>        
        </div>
    </main>
    <footer class="container-footer">
        <div class="footer-app">
            <p>Todos direitos resevados James Alves Dias</p>
        </div>
    </footer>
</body>
</html>