 <div class="body-app">
                <div class="buscForm">
                    <form method="POST" action="/buscar" >
                        <label id="lbcampo">Informe a placa do veículo:</label><br>
                        <input id='txtCampo' type='text' name='txtPlaca' placeholder="KFM2349"/>
                        <div class="btn-submit">
                            <input id="btnInserir" type='submit' value='Consultar Placa'/>
                        </div>      
                    </form>
                </div>
            </div>        