<div class="buscForm">
<form method="POST" action="/buscar" >
    <lebel id="lbcampo">Placa:</lebel><input id='txtCampo' type='text' name='txtPlaca' placeholder="Digite a placa que procura"/><br/>
    <input id="btnInserir" type='submit' value='Procurar'/>
</form>
</div>