

<table>
  <tr>
    <th>Nome</th>
    <th>Acesso</th>
    <th>Nivel</th>
  </tr>
  <tr>
    <td>{{dadosMorador.Nome}}</td>
    <td>{{dadosMorador.Pin}}</td>
    <td>{{dadosMorador.FuncaoId}}</td>
  </tr>
  <tr>
    <td>{{dadosMorador.Nome}}</td>
    <td>{{dadosMorador.Pin}}</td>
    <td>{{dadosMorador.FuncaoId}}</td>
  </tr>
</table>

