/* Typography */

$font: 'Rajdhani', sans-serif;

/* Font size */

$font-size: 3rem;

/* Font line-height */

$font-line-height: 1rem;

/* Colors */

$white-bianca: #FEFEFB;
$yellow-selective: #FFB600;
$red-danger: #E52006;
$dark-gray-shaft: #292424;
$dark-blue-stratos: #001257;
